{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/technicals_statistics.css' %}">
{% endblock %}

{% block content %}

    <main class="main_content">
        <h1 class="statistics_title">Estatísticas Gerais</h1>
        <h2 class="statistics_subtitle">Estatísticas dos Funcionários</h2>

        <div class="employees_statistics_div">
            <div class="number_of_employees_div">
                <p>Total de Funcionários:</p>
                <span class="number_white">{{ number_of_employees }}</span>
            </div>
            <div class="number_of_employees_div">
                <p>Total de Gerentes:</p>
                <span class="number_white">{{ managers }}</span>
            </div>
            <div class="number_of_employees_div">
                <p>Total de Técnicos:</p>
                <span class="number_white">{{ technicals }}</span>
            </div>
            <div class="number_of_employees_div">
                <p>Total de Atendentes:</p>
                <span class="number_white">{{ attendants }}</span>
            </div>
        </div>

        <h2 class="statistics_subtitle">Estatísticas da Empresa</h2>
        <div class="employees_statistics_div">
            <div class="number_of_company_div">
                <p>Faturamento Total:</p>
                <span class="number_white_div">R$ {{ total_billing|floatformat:2 }}</span>
            </div>
            <div class="number_of_company_div">
                <p>Número de Reparos:</p>
                <span class="number_white_div_repair">{{ repairs_number }}</span>
            </div>
            <div class="number_of_company_div">
                <p>Folha de Pagamento:</p>
                <span class="number_white_div">R$ {{ total_wages|floatformat:3}}</span>
            </div>
        </div>
    </main>

{% endblock %}