{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_technicals.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h1 class="form_ct_title">Registrar um Funcionário</h1>
        <form class="form_create_technicals" method="post" action="">
        {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Criar</button>
        </form>
        </main>
{% endblock %}