{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_devices.css' %}">
{% endblock %}

{% block content %}
    <h2 class="h2-title">Listagem de Técnicos</h2>

    <form class="search_form" method="get">
        <input name="search" placeholder="Procure pelo nome do técnico...">
    </form>
    <table class="list_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Técnico</th>
                <th>Cargo</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Data de Admissão</th>
                <th>Salário</th>
                <th>Número de Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for technical in object_list %}
                <tr>
                    <td>{{ technical.id }}</td>
                    <td>{{ technical.name }}</td>
                    <td>{{ technical.employee_position }}</td>
                    <td>{{ technical.cpf }}</td>
                    <td>{{ technical.email }}</td>
                    <td>{{ technical.admission_date }}</td>
                    <td>R$ {{ technical.salary|floatformat:3 }}</td>
                    <td>{{ technical.phone_number }}</td>
                    <td><a href="{% url 'update_technical' technical.pk %}" class="edit-btn">Editar</a></td>
                    <td><a href="{% url 'delete_technical' technical.pk %}" class="delete-btn">Deletar</a></td>

                    <!-- Adicione mais colunas conforme necessário para os campos do seu modelo -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}