{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_devices.css' %}">
{% endblock %}

{% block content %}
    <h2>Listagem de Dispositivos</h2>
    <p>Usuário : {{ request.user }}</p>

    <form class="search_form" method="get">
        <input name="search" placeholder="Procure pelo nome do cliente ou modelo do aparelho...">
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Nome do Cliente</th>
                <th>Telefone do Cliente</th>
                <th>Email do Cliente</th>
                <th>Data de Entrada</th>
                <th>Status</th>
                <th>Preço</th>
                <th>Técnico Responsável</th>
                <th>Descrição do Problema</th>
                <th>Data de Saída</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for device in object_list %}
                <tr>
                    <td>{{ device.id }}</td>
                    <td>{{ device.model}}</td>
                    <td>{{ device.client_name}}</td>
                    <td>{{ device.client_phone }}</td>
                    <td>{{ device.client_email }}</td>
                    <td>{{ device.entry_date }}</td>
                    <td>{{ device.status }}</td>
                    <td>{{ device.repair_price }}</td>
                    <td>{{ device.technician }}</td>
                    <td>{{ device.problem_description }}</td>
                    <td>{{ device.delivery_date }}</td>
                    <td><a href="{% url 'update_device' device.pk %}" class="edit-btn">Editar</a></td>
                    <td><a href="{% url 'delete_device' device.pk %}" class="delete-btn">Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}