{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_devices.css' %}">
{% endblock %}

{% block content %}
    <main class="update_main">
        <h1 class="update_title">Editar Aparelho {{ object.model }} | ID: {{ object.pk }}  </h1>
        <p>Data de Entrada : {{ object.entry_date }}</p>
        <form class="update_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="update_btn" type="submit">Atualizar</button>
        </form>
    </main>
{% endblock %}