.edit-btn {
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 3px;
    padding: 2px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 3px;
    padding: 2px;
}

td {
    background: lightblue;
}

th {
    background: grey;
}

.search_form input {
    height: 30px;
    width: 420px;
    font-size: 1.1rem;
}

.search_form {
    margin-left: 450px;
    margin-bottom: 30px;
}