{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <main class="login_main">
        {% if user.is_authenticated %}
            <h1 class="optional_h1">Seja Bem Vindo(a) {{ request.user|capfirst }}</h1>
        {% else %}
            <h1>Seja Bem Vindo(a) ao Sistema<br>Para realizar o acesso faça seu login</h1>
            <form class="login_form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="login_btn" type="submit">Login</button>
          </form>
        {% endif %}
    </main>

{% endblock %}