{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Seja Bem Vindo(a) {{ request.user|capfirst }}</h1>
    {% else %}
    <h1>Seja Bem Vindo(a) ao Sistema<br>Para realizar o acesso faça seu login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
  </form>
    {% endif %}

{% endblock %}